body {
	padding-top: 70px; 
}

#zb {
	margin: auto 20px;
}


#zbeBookName {
	position: fixed;
	left: 12px;
	top: 72px;
	pointer-events: none;
}

#canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

